[submodule "CMake/common"]
	path = CMake/common
	url = https://github.com/Eyescale/CMake
[submodule "Pydoxine"]
	path = Pydoxine
	url = https://github.com/BlueBrain/Pydoxine
[submodule "MorphIO"]
	path = MorphIO
	url = ssh://bbpgb019.bbp.epfl.ch:/home/git/morphio
